.top-section {
  position: relative;
  color: var(--text-white);
  overflow: visible;
  height: 488px;
}

.top-section img.bg {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  top: 0;
  left: 0;
  z-index: 0;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 400px;
  position: relative;
  z-index: 2;
  padding: 5px 0;
}

/* MESHS TEXT */
.hero-left {
  background-color: var(--main-green);
  width: 20%;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top-right-radius: 250px;
  border-bottom-right-radius: 250px;
  font-family: "Montserrat", sans-serif;
  font-size: 55px;
  line-height: 0;
  letter-spacing: 2px;
  text-align: left;
  box-shadow: 4px 0 8px rgba(0, 0, 0, 0.2);
  padding-left: 10px;
  font-weight: bolder;
  height: 400px;
  position: absolute;
  top: 50px;
  z-index: 0;
}

.hero-p {
  margin: 0;
  line-height: 1.25;
  color: var(--text-white);
}

.hero-left span {
  color: var(--highlight-yellow);
}

/* SEAL LOGO */
.hero-right {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items: right;
  padding: 5px;
  position: relative;
  z-index: 2;
}

.seals {
  display: flex;
  justify-content: right;
  gap: 20px;
  flex-wrap: wrap;
  padding-top: 70px;
  padding-right: 250px;
}

.seals img {
  height: 160px;
  width: 160px;
  border-radius: 50%;
  padding: 0;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  margin: 25px;
}

#meshss {
  position: absolute;
  top: 10px;
  left: 520px;
  height: 240px;
  width: 240px;
}

/* MOTTO AND ADDRESS */
.motto {
  background-color: rgba(58, 145, 88, 0.9);
  text-align: center;
  font-weight: bold;
  color: white;
  padding: 10px 40px;
  margin: 0 auto;
  border-radius: 50px;
  letter-spacing: 5px;
  font-size: 20px;
  max-width: fit-content;
  position: relative;
  margin-top: -30px;
  z-index: 3;
}

.bottom-section {
  padding: 30px 40px;
  background-color: var(--bg-grey);
  position: relative;
}

.address {
  background-color: yellow;
  text-align: center;
  font-weight: bold;
  color: #00724b;
  padding: 10px 40px;
  margin: 20px auto 10px;
  border-radius: 50px;
  letter-spacing: 5px;
  font-size: 20px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  max-width: fit-content;
}

.email {
  background-color: #00724b;
  text-align: center;
  color: white;
  font-size: 20px;
  padding: 10px 40px;
  margin: 10px auto 40px;
  border-radius: 50px;
  letter-spacing: 4px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  font-weight: bold;
  max-width: fit-content;
}